body{
background-color:purple;
}
div
{
height: 100%;
width:100%;
align:center;
}
#score
{
text-align: right;
font-family:algerian
color:black;
font-size: 80px;
position: absolute;
top: -90;
bottom: 0;
left: 0;
right: 0;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid white
}
#first
{
text-align: left;
font-family:algerian
color:black;
font-size: 500px;
position: absolute;
    top: -500;
    bottom: 0;
    left: 0;
    right: 0;
}
#last
{
text-align: right;
font-family:algerian
color:black;
font-size: 500px;
position: absolute;
    top: -500;
    bottom: 0;
    left: 0;
    right: 0;
}